.transactionStatusModal{
    h2{
      text-align: center;
      color: rgba(105, 85, 192, 1);
    }  
    .loadingIconContainer{
        text-align: center;
    }
    .infoItemContainer{
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }
}