@import './variables.less';
body {
  background: @bodyBg;
  overflow-y: scroll;

  .ant-notification-notice-message {
    color: #ffffff !important;
  }
  .anticon {
    color: #ffffff !important;
  }
  .ant-notification-hook-holder,
  .ant-notification-notice {
    background: #231c43 !important;
    border: 2px solid #b9aaff !important;
    border-radius: 10px !important;
    border-radius: 10px !important;
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
  }
  .ant-notification-notice.warning {
    background: #1e0f14 !important;
    border: 2px solid #ff578e !important;
  }
  .ant-notification-notice.error {
    background: #2c270f !important;
    border: 2px solid #ffd200 !important;
  }
  .ant-notification-notice.success {
    background: #113028 !important;
    border: 2px solid #39bc9a !important;
  }
}

.ant-layout-footer {
  background: transparent !important;
}

.ant-layout-content {
  background: transparent !important;
}

.suterBridge {
  background: transparent !important;
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ant-card {
      @media only screen and (min-width: 992px) {
        width: 33.33%;
      }

      @media only screen and (max-width: 600px) {
        width: 95%;
      }
    }

    .ant-card-head {
      border: 0;

      .ant-tabs-nav::before {
        border: 0;
      }
    }

    .ant-tabs-nav-operations {
      display: none !important;
    }
  }
  .proofOfAssets {
    @media screen and (max-width: 1024px) {
      padding: 0 8px;
    }
    max-width: 1120px;
    margin: 0 auto;
    h1,
    h2 {
      color: #fff;
      font-family: PingFangSC-Regular;
    }
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
    }
    p {
      color: @suterColor;
    }
    .linkLogo {
      text-align: center;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    div.card {
      margin-bottom: 20px !important;
      color: #fff;
      border: 1px solid @cardBg;
      background: @cardBg;
      padding: 20px 10px;
      border-radius: 15px;
      margin: 0 auto;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      height: 300px;
      p {
        margin-bottom: 10px;
      }
      .mb20 {
        margin-bottom: 20px;
      }
      .item {
        .block {
          background: rgba(216, 216, 216, 0.1);
          border-radius: 10px;
          padding: 12px 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .left {
            @media screen and (max-width: 1024px) {
              width: 70%;
            }
          }
          &:hover {
            border: 1px solid @suterColor;
          }
          img {
            margin-right: 20px;
            cursor: pointer;
          }
          .address {
            color: rgba(255, 255, 255, 0.5);
            @media screen and (max-width: 1024px) {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
