@import './variables.less';
body {
  background: @bodyBg;
  overflow-y: scroll;

  .mobileNavContainer {
    display: none;
    .mobbile-MenuOutlined {
      display: none;
      .MenuOutlined {
        color: #fff;
        font-size: 30px;
        margin-left: 10px;
        position: relative;
        top: 6px;
      }
    }
    @media screen and (max-width: 1024px) {
      display: block;
      .mobbile-MenuOutlined {
        display: block;
      }
    }
  }

  .ant-notification-notice-message {
    color: #ffffff !important;
  }
  .anticon {
    color: #ffffff !important;
  }
  .ant-notification-hook-holder,
  .ant-notification-notice {
    background: #231c43 !important;
    border: 2px solid #b9aaff !important;
    border-radius: 10px !important;
    border-radius: 10px !important;
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
  }
  .ant-notification-notice.warning {
    background: #1e0f14 !important;
    border: 2px solid #ff578e !important;
  }
  .ant-notification-notice.error {
    background: #2c270f !important;
    border: 2px solid #ffd200 !important;
  }
  .ant-notification-notice.success {
    background: #113028 !important;
    border: 2px solid #39bc9a !important;
  }

  #website__entrypoint {
    .suterBridge {
      .ant-layout-header {
        background: transparent !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .head-top {
          display: flex;
          justify-content: center;
          align-items: center;
          .left {
            display: flex;
            .menuContainer {
              margin-left: 30px;
            }
            .item-ul {
              display: flex;
              margin: 0;
              li {
                list-style: none;
                color: #fff;
                margin-right: 30px;
                cursor: pointer;
                font-size: 18px;
                &:hover {
                  color: @suterColor;
                }
                a {
                  color: #fff;
                  &:hover {
                    color: @suterColor;
                  }
                }
              }
            }
          }
        }
        img.mobbile {
          display: none;
        }
        .header-btn {
          display: flex;
          align-items: center;
          .launchAppBtn {
            border-color: @suterColor;
            color: @suterColor;
            background-color: #0b000e;
            &:hover {
              background-color: @suterColor !important;
            }
          }
          .top-btn {
            width: 70px;
            height: 32px;
            margin-left: 20px;
            border: 1px solid @suterColor;
            border-radius: 17.5px;
            border-radius: 17.5px;
            display: flex;
            justify-content: space-between;
            i {
              position: relative;
              top: -1px;
              display: block;
              width: 32px;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 45%;
              color: @suterColor;
              font-style: normal;
              font-size: 14px;
              cursor: pointer;
              // color: #0B000E;
              &.active {
                background: @suterColor;
                color: #0b000e;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    #website__entrypoint .suterBridge .ant-layout-header {
      img.mobbile {
        display: block;
      }
      img.pc {
        display: none;
      }
      .head-top {
        .left {
          .item-ul {
            display: none;
          }
        }
      }
    }
  }
}

.ant-layout-footer {
  background: transparent !important;
}

.ant-layout-content {
  background: transparent !important;
}

.suterBridge {
  background: transparent !important;
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ant-card {
      @media only screen and (min-width: 992px) {
        width: 33.33%;
      }

      @media only screen and (max-width: 600px) {
        width: 95%;
      }
    }

    .ant-card-head {
      border: 0;

      .ant-tabs-nav::before {
        border: 0;
      }
    }

    .ant-tabs-nav-operations {
      display: none !important;
    }
  }
}
