@import '../../variables.less';
.spinModal {
  .ant-modal-content {
    background-color: @cardBg;
    border: 1px solid @suterColor !important;
  }
  .ant-modal-content {
    border: 0;
    border-radius: 20px;
  }
  .spinContainer {
    text-align: center;
    border-radius: 4px;
    h1 {
      color: @suterColor;
    }
    p {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 20px;
    }
  }
}
